@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swa');


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(255,99, 71); 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(51, 51, 51); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128); 
  }

  


  html {
    scroll-behavior: smooth;
  }


body {
    background-color: rgb(51, 51, 51);
    font-family: 'Roboto mono', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 2em;
   
}

.header {
    background-color: #858585;
    padding: 1.5em;
    text-align: center;
    font-size: 1.2em;
}






 


.btnTime {
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    bottom: 1em;
    width: auto; 
    height: auto;
    margin: auto;
    overflow: hidden;  
    text-align: center;
}

#closeBtn {

    margin-left: 93%;
    background-color:  rgba(255,99, 71, 0.8);
    font-size: 1.5em;
    padding: 0.02em 0.4em;
    border: none;
}



#container {
    width: 100%;
    height: auto;
    border: 1px solid rgb(255,99, 71);
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  
 

 

#slideL {

    
    background-color:  rgba(255,99, 71, 0.8);
    padding: 0.2em;
    border: none;
}

#slideR {

    
    background-color:  rgba(255,99, 71, 0.8);
    padding: 0.2em;
    border: none;
}


  

h1 {
    font-size: 1.8em;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(14, 14, 14);
    transition: all 1s;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-size: 1.3em;
    font-weight: 700;
}

.drawing img {
    background-color: rgb(78, 78, 78);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 0.5%;
    padding: 0em;
    border: rgb(177, 177, 177);
    border-style: solid;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pngformat img {
    background-color: rgb(36, 36, 36);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 0.5%;
    padding: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    color: tomato;
}

time {
    font-size: 0.9em;
    font-weight: 700;
}

address {
    font-size: 0.7em;
    font-weight: 700;
}


.green {
    background-color: rgb(36, 36, 36);
}

.white {
    background-color: #ffffff;
}

.progressText {
    font-size: 0.5em;
    font-weight: 800;
    text-align: right;
    display: none;
}

.progressBg {
    background-color: rgb(180, 180, 180);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3em;
}

.progress {
    background-color: rgb(27, 27, 27);
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0.3em;
    overflow: hidden;
    color: white;
    font-weight: 700;
}

.titleBar {
    background-color: tomato;
    position: fixed;
    top: 0.2em;
    left: 0;
    width: 100%;
    height: 1.5em;
    overflow: hidden;
    color: white;
    font-weight: 700;
    font-size: 1.3em;
    display: none;
}

.yearBar {
    background-color: white;
    position: fixed;
    top: 2.3em;
    left: 0;
    width: 100%;
    height: 1.4em;
    overflow: hidden;
    font-size:0.8em;
    display: none;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: center;
}



.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
    padding-right: 0.2em;
}

.nav a{
    display:inline-block;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.box {
    width: auto;
}

.moment {
    height: 95%;
    font-size: 1.2em;
    padding: 1em;
}

.moment img {
    max-width: 95%;
}

.bold {
    font-weight: 700;
}

article footer {
    font-size: 0.7em;
    margin-top: 0.5em;
}

footer {
    font-size: 0.8em;
    margin-top: 1.5em;
}

.second {
    align-self: auto; 
    margin: auto;
    max-width: 100%;
}


@media (max-width: 45em) {
    #slideR {
        width: 5em;
        font-size: 0.5em;
        
    } 

    #slideL {
        width: 5em;
        font-size: 0.5em;
    } 

    #closeBtn {

        margin-left: 0%;
        background-color:  rgba(255,99, 71, 0.8);
        font-size: 0.5em;
        padding: 0.01em 0.4em;
        border: none;
    }
}
 


@media screen and (min-width: 50em) {
    .header {
        background-color: #ffffff;
        padding: 1.5em;
        text-align: center;
        font-size: 2em;
    }
    .momentlayout {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    

    @media screen and (min-width: 90em) {
        h1 {
            font-size: 2.5em;
        }
        .masthead img {
            max-width: 90%;
        }
        .masthead p {
            width: 60%;
        }

       
       
        
    }
}
